* {
    font-family: Helvetica;
    text-align: center;
}

body {
    margin: 0;
    Border: 3px solid red;
    padding: 15px;
}

header {
background-image: resources/Lampeter 1.jpg;
}

.header h1 {
    text-align: center;
    font-size:100px;
    font-weight: bold;
    color: khaki;
}

div.gnomes h2 {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

div.gnomes h3 {
    font-weight: bold;
}

div.gnomes span {
    font-weight: bold;
    color: blue;
}

div.frames h2 {
    background-color: lightcoral;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

div.frames h3 {
    font-weight: bold;
}

div.frames span {
    font-weight: bold;
    color: blue;
}

div.paint h2 {
    background-color: skyblue;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

div.paint h3 {
    font-weight: bold;
}

div.paint span {
    font-weight: bold;
    color: blue;
}
