* {
    font-family: Helvetica;
    text-align: center;
}

p {
    font-weight: normal;
    font-size: 15px;
}

body {
    margin: 10;
    Border: 3px solid green;
    padding: 15px;
}

.header h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: green;
    background-color: grey;
}

nav {
    display: inline-block;
}

.Lampeter_1 {
    z-index: 0;
    position: absolute;
    top: 0px;
    max-height: 100%;
}

div.gnomes h2 {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

div.gnomes h3 {
    font-weight: bold;
}
