* {
    font-family: Helvetica;
    text-align: center;
}

p {
    font-weight: normal;
    font-size: 15px;
}

body {
    margin: 0;
    Border: 3px solid red;
    padding: 15px;
}

.header h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: dark-green;
    background-color: dark-grey;
}

.Lampeter_1 {
    position: relative;
    max-height: 100%;
}

div.gnomes h2 {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

div.gnomes h3 {
    font-weight: bold;
}

div.gnomes span {
    font-weight: bold;
    color: blue;
}
