* {
    font-family: Helvetica;
    text-align: center;
}

p {
    font-weight: normal;
    font-size: 15px;
}

body {
    z-index: 1;
    margin: 5;
    Border: 3px solid green;
    padding: 15px;
    background-color: grey;
    background-image: "resource/Lampeter_1";
}

.header h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: green;
}

nav {
    display: inline-block;
}

.Lampeter_1 
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: 100%;
    border: 3px solid black;
}

.Beth_1 {
    max-height: 100%;
}

.Gnomes {
    max-height: 100%;
}

div.gnomes h2 {

}

div.tea h2 {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

div.circles&squares h2 {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
